<footer>
  <div class="row">
    <a class="three columns" href="/contact">Leave Feedback</a>
    <a class="three columns" href="https://github.com/{{ site.github | cgi_escape | escape }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/images/minima-social-icons.svg#github' }}"></use>
      </svg>
      <span class="username">{{ site.github| escape }}</span>
    </a>
    <a  class="three columns" href="https://www.linkedin.com/in/{{ site.linkedin | cgi_escape | escape }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/images/minima-social-icons.svg#linkedin' }}"></use>
      </svg>
      <span class="username">{{ site.linkedin | escape }}</span>
    </a>
    <a class="three columns" href="https://www.twitter.com/{{ site.twitter | cgi_escape | escape }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/images/minima-social-icons.svg#twitter' }}"></use>
      </svg>
      <span class="username">{{ site.twitter | escape }}</span>
    </a>
  </div>
</footer>
