/*** uncss> filename: /home/runner/work/mdave16.github.io/mdave16.github.io/_site/assets/css/blog.css ***/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-size: 3rem
}
