> mdave16.github.io@1.0.0 uncss /home/runner/work/mdave16.github.io/mdave16.github.io
> uncss --trace-warnings "--uncssrc" "/tmp/uncssrc20210331-2001-1io0hfj" "/home/runner/work/mdave16.github.io/mdave16.github.io/_site/**/*.html" "/home/runner/work/mdave16.github.io/mdave16.github.io/_site/**/*.md"

/*** uncss> filename: /home/runner/work/mdave16.github.io/mdave16.github.io/_site/assets/css/blog.css ***/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-size: 3rem
}
