<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/skeleton.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
		<link rel="shortcut icon" href="/assets/images/tree.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% seo title=false %}
	</head>
	<body>
		<div class="container">
			{%- include header.html -%} {{ content }} {%- include footer.html -%}
		</div>
		{% if  page.script %}
		   <script src="/assets/js/{{ page.script }}.js"></script>
	    {% endif %}
	</body>
</html>
